<div th:fragment="menu" >
    <div class="nav">
        <a class="nav-link" href="/admin/index.html">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Dashboard
        </a>
        <div class="sb-sidenav-menu-heading">Quản Lý</div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseThanhVien" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Quản Lý Thành Viên
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseThanhVien" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="/admin/thanhvien/all">Tất Cả Thành Viên</a>
                <a class="nav-link" href="/admin/thanhvien/add">Thêm Thành Viên</a>
                <a class="nav-link" href="/admin/thanhvien/khuvuchoctap">Khu vực học tập</a>
            </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseThongTinSD" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Quản lý mượn trả
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseThongTinSD" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="/admin/thongtinsd/all">Thông tin sử dụng</a>
                <a class="nav-link" href="/admin/thongtinsd/datcho">Đặt chổ</a>
            </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseThietBi" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Quản Lý Thiết Bị
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseThietBi" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="/admin/thietbi/all">Tất Cả Thiết Bị</a>
                <a class="nav-link" href="/admin/thietbi/add">Thêm Thiết Bị</a>
            </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseXuLyViPham" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Xử Lý Vi Phạm
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseXuLyViPham" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="/admin/xuly/all">Tất Cả Xử Lý Vi Phạm</a>
                <a class="nav-link" href="/admin/xuly/add">Thêm Xử Lý Vi Phạm</a>
            </nav>
        </div>
        <div class="sb-sidenav-menu-heading">Thống Kê</div>
        <a class="nav-link" href="#">
            <div class="sb-nav-link-icon"></div>
            Thống Kê Vi Phạm
        </a>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTKThietBi" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"></i></div>
            Thông Kê Thiết Bị
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseTKThietBi" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="#">Thiết Bị Đã Mượn</a>
                <a class="nav-link" href="#">Thiệt Bị Đang Mượn</a>
            </nav>
        </div>
        <a class="nav-link" href="#">
            <div class="sb-nav-link-icon"></div>
            Thống Kê Thành Viên
        </a>
        <div class="sb-sidenav-menu-heading">Trang</div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
            Các Trang Khác
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                    Authentication
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/login.html">Login</a>
                        <a class="nav-link" href="/register.html">Register</a>
                        <a class="nav-link" href="/password.html">Forgot Password</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                    Error
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/401.html">401 Page</a>
                        <a class="nav-link" href="/404.html">404 Page</a>
                        <a class="nav-link" href="/500.html">500 Page</a>
                    </nav>
                </div>
            </nav>
        </div>

        <a class="nav-link" href="charts.html">
            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
            Charts
        </a>
        <a class="nav-link" href="tables.html">
            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
            Tables
        </a>
    </div>
</div>
