<div style="display: flex; justify-content: center;" >
    <h4 style="margin-top: 6px;" >Hồ sơ</h4>
</div>
<div style="display:flex; align-items: baseline;margin-top: 20px;" >
        <p style="font-size: 18px;width: 160px;margin-bottom: 0px;margin-top: 0px;">Mã thành viên: </p>
        <input name="maTB"  th:value="${thanhVien.MaTV}" style="font-size: 18px;width: 300px;margin-bottom: 0px;margin-top: 0px; border: 0px;" readonly ></input>
 </div>
<!--<div style="display:flex; align-items: baseline;margin-top: 20px;" >
        <p style="font-size: 18px;width: 160px;margin-bottom: 0px;margin-top: 0px;">Tên thành viên: </p>
        <input name="maTB"  th:value="${thanhVien.TenTV}" style="font-size: 18px;width: 300px;margin-bottom: 0px;margin-top: 0px; border: 0px;" readonly ></input>
 </div>
<div style="display:flex; align-items: baseline;margin-top: 20px;" >
        <p style="font-size: 18px;width: 160px;margin-bottom: 0px;margin-top: 0px;">Khoa: </p>
        <input name="maTB"  th:value="${thanhVien.Khoa}" style="font-size: 18px;width: 300px;margin-bottom: 0px;margin-top: 0px; border: 0px;" readonly ></input>
 </div>
<div style="display:flex; align-items: baseline;margin-top: 20px;" >
        <p style="font-size: 18px;width: 160px;margin-bottom: 0px;margin-top: 0px;">Ngành: </p>
        <input name="maTB"  th:value="${thanhVien.Nganh}" style="font-size: 18px;width: 300px;margin-bottom: 0px;margin-top: 0px; border: 0px;" readonly ></input>
 </div>-->