<div>Customer - Register</div>
<form th:action="@{/thietbi/save}" th:object="${thietbi}" method="POST">

    <div class="row">
        <label>Mã TB</label><input type="number" th:field="*{MaTB}" class="form-control"/>
    </div>

    <div class="row">
        <label>Tên TB</label><input type="text" th:field="*{TenTB}" class="form-control"/>
    </div>

    <div class="row">
        <label>Mô tả</label><input type="text" th:field="*{MoTaTB}" class="form-control"/>
    </div>

    <input type="submit" value="Create" class="btn btn-primary"/>
</form>

