<div>List of thietbi</div>

<table  border="1">
    <thead>
        <tr>
            <th>STT</th>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each ="item, state: ${list}">
            <td th:utext = "${state.count}"></td>
            <td th:utext = "${item.MaTB}"></td>
            <td th:utext = "${item.TenTB}"></td>
            <td th:utext = "${item.MoTaTB}"></td>
            <td><a th:href="'/thietbi/edit/'+ ${item.MaTB}">Edit</a>
                <a th:href="'/thietbi/delete/'+ ${item.MaTB}">Delete</a></td>
        </tr>  
    </tbody>



</table>
<p><a href="/thietbi/add">Add Thiet Bi</p>
