<form action="/qlmuontra/thongtinsd_add/add" method="POST" >
    
<div style="display: flex; justify-content: center;" >
    <a type="button" href="/qlmuontra/thongtinsd" class="btn btn-light"><i class="fa-solid fa-arrow-left" style="display: inline-block; font-size: 30px;"></i></a>
    <h4 style="margin-top: 6px;" >Mượn thiết bị</h4>
</div>

<div style="display:flex; align-items: baseline;margin-top: 20px;">
    <p style="font-size: 18px;width: 180px;">Thành viên: </p>
    <select  id="select_thanhvien"  name="maTV" class="form-select select-filter-type" aria-label="Default select example">
      <option  th:each="list : ${listTV}" th:value="${list.MaTV}" th:text="${list.MaTV} + ' - ' + ${list.hoten} " 
              
      ></option>
    </select>
</div>

<div style="display:flex; align-items: baseline;margin-top: 20px;">
    <p style="font-size: 18px;width: 180px;">Thiết bị: </p>
     <select  id="select_thietbi" name="maTB" class="form-select select-filter-type" aria-label="Default select example">
      <option  th:each="list : ${listTB}" th:value="${list.MaTB}" th:text="${list.MaTB} + ' - ' + ${list.TenTB} " 
               
      ></option>
    </select>
</div>

<div style="display:flex; align-items: baseline;margin-top: 20px;" >
    <p style="font-size: 18px;width: 160px;margin-bottom: 0px;margin-top: 0px;">Thời gian mượn: </p>
    <input name="tGMuon" value="Tự động" style="font-size: 18px;width: 300px;margin-bottom: 0px;margin-top: 0px; border: 0px;" readonly ></input>
</div>

<div style="display: flex; justify-content: center;">
    <button type="submit" class="btn btn-success" style="float:right; margin-top: 20px; margin-bottom: 20px; ">
    <i class="fa-solid fa-circle-plus"></i>  Cho mượn</button>
</div>
    
</form>



