<div>Customer - Edit</div>
<form th:action="@{/admin/thanhvien/update}" th:object="${thanhvien}" method="POST">


    <div class="row">
        <label>Mã TV</label><input type="number" readonly th:field="*{MaTV}" class="form-control"/>
    </div>

    <div class="row">
        <label>Tên TV</label><input type="text" th:field="*{HoTen}" class="form-control"/>
    </div>
    
    <div class="row">
        <label>Khoa</label><input type="text" th:field="*{Khoa}" class="form-control"/>
    </div>
    
    <div class="row">
        <label>Ngành</label><input type="text" th:field="*{Nganh}" class="form-control"/>
    </div>
    
    <div class="row">
        <label>SDT</label><input type="text" th:field="*{Sdt}" class="form-control"/>
    </div>
    
    <div class="row">
        <label>PassWord</label><input type="text" th:field="*{Password}" class="form-control"/>
    </div>
    
    <div class="row">
        <label>Email</label><input type="text" th:field="*{Email}" class="form-control"/>
    </div>

    <input type="submit" value="Update" class="btn btn-success mt-2"/>
    <button type="reset" class="btn btn-warning mt-2">Khôi Phục</button>
    <a href="/admin/thanhvien/all" class="btn btn-primary mt-2">Trở Về</a>
</form>