<div>Customer - Register</div>
<form th:action="@{/admin/thanhvien/save}" th:object="${thanhvien}" method="POST">

    <div class="row">
        <label>Mã Thành Viên</label><input type="number" th:field="*{MaTV}" class="form-control"/>
    </div>

    <div class="row">
        <label>Tên Thành Viên</label><input type="text" th:field="*{HoTen}" class="form-control"/>
    </div>

    <div class="row">
        <label>Khoa</label><input type="text" th:field="*{Khoa}" class="form-control"/>
    </div>

    <div class="row">
        <label>Ngành</label><input type="text" th:field="*{Nganh}" class="form-control"/>
    </div>

    <div class="row">
        <label>Số Điện Thoại</label><input type="text" th:field="*{Sdt}" class="form-control"/>
    </div>

    <div class="row">
        <label>PassWord</label><input type="text" th:field="*{Password}" class="form-control"/>
    </div>

    <div class="row">
        <label>Email</label><input type="text" th:field="*{Email}" class="form-control"/>
    </div>

    <input type="submit" value="Create" class="btn btn-primary"/>
</form>
