<style>
    .btn-edit {
      display: none;
    }
  
    .btn-delete {
      display: none;
    }
  
    .tr-body:hover .btn-edit,
    .tr-body:hover .btn-delete {
      display: inline;
    }
  </style>

<div style="display: flex; justify-content: center;margin-bottom: 20px;" >
    <h4>Đặt chổ</h4>
</div>

<table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th scope="col">Mã TT</th>
        <th scope="col">Mã thành viên</th>
        <th scope="col">Tên thành viên</th>
        <th scope="col">Mã thiết</th>
        <th scope="col">Tên thiết bị</th>
        <th scope="col">Thời gian đặt chổ</th>
        <th scope="col">Trạng thái</th>
        <th scope="col" style="width:214.087px; ">Hành động</th>
      </tr>
    </thead>
    <tbody class="table-group-divider ">
        <tr  th:each ="item, state: ${list}" class="tr-body" style="height: 55px;">
          <th th:utext="${item.maTT}" scope="row"></th>
          <td th:utext="${item.maTV}" ></td>
          <td th:utext="${item.thanhVien.HoTen}" ></td> 
          <td th:utext="${item.MaTB}"></td>
          <td th:utext="${item.thietBi.TenTB}"></td>
          <td th:utext="${item.tGDatCho}"></td>
          <td th:if="${item.tGMuon != null}" style="background-color: #198754;  border-radius: 5px;color: white;" > Đã duyệt </td>
          <td th:if="${item.tGMuon == null and item.tGTra == null}" style="background-color: #ffc107; border-radius: 5px;"  > Chờ duyệt</td>
           <td th:if="${item.tGTra != null and item.tGMuon == null}" style="background-color: #dc3545; border-radius: 5px;"  > Đã hủy</td>
          <td>
            <a th:if="${item.tGMuon == null and item.tGTra == null}" th:href="'/admin/thongtinsd/duyet/'+ ${item.maTT}" type="submit" class="btn btn-warning btn-edit" >Duyệt</i></a>
            <a th:if="${item.tGMuon == null and item.tGTra == null}" th:href="'/admin/thongtinsd/tuchoi/'+ ${item.maTT}" type="button" class="btn btn-danger btn-delete">Từ chối</i></a>
            <a th:if="${item.tGTra != null and item.tGMuon == null}" th:href="'/admin/thongtinsd/xoa/'+ ${item.maTT}" type="button" class="btn btn-danger btn-delete">Xóa</i></a>
          </td>
        </tr>
    </tbody>
</table>